.header {
    height: 75px;
    margin-top: 20px;
}

.header__bottom {
    border-bottom: 50px solid #2f2f2f;
}

.header__logo {
    background: url(/assets/logo_desktop.png) no-repeat;
    width: 14.625rem;
    height: 3.375rem;
    background-size: 14.625rem 3.375rem;
    float: left;
}

.header__contact {
    float: right;
}

.contactIcon {
    background: url(/assets/telephone.svg) no-repeat;
    width: 60px;
    height: 60px;
    background-size: 3.375rem;
    float: left;
}

.contactNumber {
    float: left;
}

.contactTelephone {
    font-size: 1.875rem;
    font-family: "MuseoSans-Bold";
}

@media (max-width: 767px) {
    .header__logo {
        width: 6.725rem;
        height: 2.375rem;
        background-size: 6.725rem 2.375rem;
    }
    .contactIcon {
        width: 45px;
        height: 46px;
        background-size: 2.375rem;
    }
    .contactTelephone {
        font-size: 15px;
    }
    .header {
        height: 50px;
    }
    .contactMobile {
        font-size: 10px;
    }
}