<div class="container">
  <div class="footerTxt">
    <div class="floatLt">
      <p>Direct Line insurance policies are underwritten by U K Insurance Limited, Registered office: The Wharf, Neville Street, Leeds LS1 4AZ. Registered in England and Wales No 1179980. U K Insurance Limited is authorised by the Prudential Regulation Authority and regulated by the Financial Conduct Authority and the Prudential Regulation Authority, registration number 202810. Calls may be recorded.</p>
      <img src="assets/logos@2x.png" alt="Verified by VISA Mastercard SecureCode">
    </div>
    <div class="footerLinks">
      <a id="BUT_5704C991689247132145" class="" target="_blank" href="https://www.directlineforbusiness.co.uk/privacy#further-security">
        Security
      </a>
      <a id="BUT_5704C991689247132145" class="" target="_blank" href="https://www.directlineforbusiness.co.uk/privacy#further-security">
        Security
      </a>
      <a id="BUT_5704C991689247132243" class="" target="_blank" href="https://www.directlineforbusiness.co.uk/privacy">
        | Privacy
      </a>
      <a id="BUT_5704C991689247132248" class="" target="_blank" href="https://www.directlineforbusiness.co.uk/cookies">
        | Cookies
      </a>
    </div>


  </div>

</div>
