.securityTxt {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #d91f26;
    font-size: 25px;
    div {
        padding-bottom: 10px;
    }
    .txtUnderline {
        text-decoration: underline;
        font-size: 18px;
    }
    .form-group label {
        width: 32%;
    }
}